################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs
/x64
/x64/Debug
/x64/Release
/obj
/RapChessCs.csproj.user
*.config
*.pdb
*.manifest
*.ini
*.sarif
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.recipe
*.txt